@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
    margin-top: 30px;

    .title {
        margin-bottom: 20px;
    }

    .addCustomer {
        margin-bottom: 20px;
    }
}

.editIcon { 
    font-size: 1.5rem;
    color: $accent1;
}

.deleteIcon {
    margin-left: 10px;
    font-size: 1.5rem;
    color: $error;
}
