.root {
  position: relative;
  padding-top: 10px;
  margin-bottom: 60px;

  @media only screen and (max-width : 600px) {
    padding-top: 30px;
 }
}

.selectCustomerBtn {
    display: flex !important;
    margin: 20px auto 20px auto !important;
}

.steps {
    position: fixed;
    padding-bottom: 0px;
    z-index: 9;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: #FFFFFF;
}

.actionButtons {
    position: fixed;
    z-index: 9;
    bottom: 0px;    
    width: 100%;
    padding-bottom: 5px;
    background-color: #FFFFFF;

    & > * {
        margin: 5px !important;
    }
}

.backBtn {
    
}

.nextBtn {

}

.confirmationTitle{
    width: 100%;
    text-align: center;
}

.types {
    border-bottom: solid gray 1px;
}
