@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {   
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    height: calc(1.3em + .75rem + 2px);
    border-radius: 4px;
    cursor: pointer;
    
    &:active,
    &:focus {
        box-shadow: none;        
        outline: none !important;
    }
    &.disabled {
        cursor: not-allowed;
        opacity: 0.55;        
    }
}

.primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background: $primary-d1;
    }
    &:active {
        border-color: $accent1;
    }

    &.outline {
        color: $primary;
        &:hover {
            color: $white;
            background: $primary-d1;
        }
    }
}

.secondary {
    color: $white;
    background-color: $accent1;
    border-color: $accent1;
    &:hover {
        background: $accent1-d1;
    }
    &:active {
        border-color: $accent2;
    }

    &.outline {
        color: $accent1;
        &:hover {
            color: $white;
            background: $accent1-d1;
        }
    }
}

.danger {
    color: $white;
    background-color: $error;
    border-color: $error;
    &:hover {
        background: $error-d1;
    }
    &:active {
        border-color: $accent2;
    }

    &.outline {
        color: $error;
        &:hover {
            color: $white;
            background: $error-d1;
        }
    }
}

.warning {
    color: $white;
    background-color: $warning;
    border-color: $warning;
    &:hover {
        background: $warning-d1;
    }
    &:active {
        border-color: $accent2;
    }

    &.outline {
        color: $warning;
        &:hover {
            color: $white;
            background: $warning-d1;
        }
    }
}

.grey {
    color: $black;
    background-color: $grey;
    border-color: $grey;
    &:hover {
        background: $grey-d1;
    }
    &:active {
        border-color: $accent2;
    }

    &.outline {
        color: $black;
        &:hover {
            color: $white;
            background: $grey-d1;
        }
    }
}

.success {
    color: $white;
    background-color: $success;
    border-color: $success;
    &:hover {
        background: $success-d1;
    }
    &:active {
        border-color: $accent2;
    }

    &.outline {
        color: $success;
        &:hover {
            color: $white;
            background: $success-d1;
        }
    }
}

.outline {
    background-color: transparent;
}


.square {
    border-radius: 0px;
}
