@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
  width: 40vw;
  min-width: 360px;
  padding: 15px;

  .title{ 
      display: block;
      
      margin-top: 30px;
      text-align: center;
      display: flex;
      margin-right: auto;
      margin-left: auto;

      :first-child{
          margin-right: 20px;
          font-size: 2rem;
          color: $accent1;
      }
  }
}

.customerTitle {
    display: block;
    margin: 15px 0px !important;
    font-size: 1.3rem;
}

.addServiceLocationBtn{
    margin-top: 20px;
}

.item {
    position:relative;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 5px;
    margin: 10px 0px;
   
}

.selectIcon {
    position: absolute;
    top: calc(50% - 20px);
    right: 10px;
}
