@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {

    .label {
      color: $black;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 6px;
    }
  
    .error {
      margin-top: 5px;
      text-align: right;
      color: red;
    }
  }
  