@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

.root {
  width: 40vw;
  min-width: 360px;

  .title{ 
      width: fit-content;
      margin-top: 30px;
      text-align: center;
      display: flex;
      margin-right: auto;
      margin-left: auto;
      vertical-align: text-bottom;

      :first-child{
          margin-right: 20px;
          font-size: 2rem;
          color: $accent2;
      }
  }
}

.form {
    
    padding: 20px;
    border: solid 1px gray;
    border-radius: 5px;
    margin: 10px;

    .field {
        display: block;
        margin: 20px 0px;

        div {
            width: 100%;
        }
    }

    .actions {
        margin: 20px;
        text-align: center;

        :first-child{
            width: 40%;
            margin-right: 10%;
        }

        :last-child{
            width: 40%;
        }
    }
}
