.root {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid gray 1px;
}

.itemTitleRow {
    display: flex;
    margin-bottom: 10px;

    .itemSelect {
        width: 30px;
        margin: 0px !important;
        padding: 0px !important;
    }
    
    .itemTitle {
        margin-top: auto;
        margin-bottom: auto;
    }
}

.itemDescriptionRow {
    & > * {
        margin-bottom: 15px;
    }
}

.itemInputs {
    display: flex;

    & > * {
        margin: 10px;
        width: 140px;
    }
}
