@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
    
    width: 100%;
    height: calc(1em + .75rem + 2px);
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
