@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
    .r {
        position: absolute;
        width: 300px;
        height: 300px;
        border-radius: 5px;


        &:first-child {
            top: -100px;
            right: -100px;
            background: $accent1-l2;
        }

        &:last-child {
            left: -100px;
            bottom: -100px;
            background: $accent1-l1;

        }

        &.s {
            width: 20px;
            height: 20px;
            &:nth-child(2) {
                top: 150px;
                right: -150px;
                background: $primary-l1;
            }

            &:nth-child(3) {
                left: -150px;
                bottom: 150px;
                background: $accent2-l1;
            }
        }

        &:nth-child(odd) {
            animation: floating 7s infinite;
        }

        &:nth-child(even) {
            animation: floating 9s infinite;
        }
    }
}
