@import "../../../../styles/colors.scss";
@import "../../../../styles/fonts.scss";

.root {
    width: 250px;
    position: relative;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    white-space: nowrap;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    height: calc(100vh - 75px);
    z-index: 1200;
    cursor: pointer;
}

.itemMenu {
    display: flex;
    height: 40px;
    vertical-align: middle;
    padding: 15px 5px 0px 15px;
    
    &:hover{
        text-decoration: none;
        background-color: rgba(0, 0, 0, 0.04);
    }

    :first-child{
        font-size: 20px;
        margin-right: 12px;    
    }
}

.isSelected {
    background: $primary-l2;

    &:hover{
        
        background: $primary-l1;
    }
}
