@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
  font-family: $default-font;
  color: $default-font-color;
  font-style: normal;
  font-weight: normal;
  mix-blend-mode: normal;
  margin: 0px;
}

.display {
    font-size: 36px;
    line-height: 48px;
    margin-top: 15px;
    margin-bottom: 15px;

    &.heavy {
        font-weight: bold;
    }
}

.headline {
    font-size: 24px;
    line-height: 32px;
    margin-top: 12px;
    margin-bottom: 12px;

    &.heavy {
        font-weight: bold;
    }
}

.title {
    font-size: 20px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
    &.heavy {
        font-weight: bold;
    }
}

.subheader {
    font-size: 16px;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 5px;

    &.heavy {
        font-weight: bold;
    }
}

.body {
    font-size: 14px;
    line-height: 20px;

    &.heavy {
        font-weight: bold;
    }
}

.caption {
    font-size: 12px;
    line-height: 16px;

    &.heavy {
        font-weight: bold;
    }
}

.small {
    font-size: 10px;
    line-height: 14px;

    &.heavy {
        font-weight: bold;
    }
}
