@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
    background: url("../../../assets/img/grass.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;    
    min-height: 100vh;

    .authContent {
        position: relative;
        width: 500px;
        padding: 15px;
        z-index: 5;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: tr;
        background-clip: border-box;
        border: 1px solid $grey-l2;
        border-radius: 0.25rem;
    }

}


.enterButton {
    margin-top: 20px;
}

.title {
    text-align:  center;
}

.field {
    margin-top: 20px;
}
