@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
    background: $white;
    border-radius: 4px;
    padding: 10px;
}

.elevation1{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);    
}

.elevation2{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16); 
}

.elevation3{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
}

.elevation4{
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);
}
