.root {
  align-items: center;
  display: flex;

  &.animated {
    .progressLine {
      animation: rotate 0.8s linear infinite;
      stroke-dasharray: 100%;
      stroke-dashoffset: 100%;
    }
  }

  &:not(.animated){
    .progressLine{
      transform: rotate(-90deg);
    }
  }

  &.dark {
    .background {
      stroke: pink;
    }

    .progressLine {
      stroke: green;
    }
  }

  &.light {
    .background {
      stroke: blue;
    }

    .progressLine {
      stroke: brown;
    }
  }
}

.background {
  stroke-opacity: 0.3;
}

.progressLine {
  stroke-linecap: square;
  transform-origin: center center;
}

.background,
.progressLine {
  fill: transparent;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
