@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";

.root {
    padding: 10px;
    min-width: 360px;
}

.search {
    width: 100%;
    margin-top: 20px !important;
}

.customer {
    border: $primary 1px solid;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 6px;
    position: relative;
}

.selectIcon {
    position: absolute;
    top: 15px;
    right: 10px;
}
