<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
        <style>
body {
    font-family: sans-serif;
    padding: 1.2cm;
    width: 21.5cm;
    height: 28cm;
}

.top-section {
    display: inline-flex;
}

.doc-title {
    
    font-style: normal;
    font-weight: bold;
    font-size: 0.5cm;
    line-height: 100%;
    color: #3f6633;
    margin-bottom: .4cm;
}

.logo {
    width: 5cm;
    height: 3.5cm;
    margin-right: 0.5cm;
}

.form-label{
    font-size: 0.35cm;
}

.form-value{
    font-size: 0.35cm;
    font-weight: bold;
    margin: 0 0.2cm 0.2cm 0.2cm;
}

.row {
    display: flex;
}

.program-type-title {
    width: auto;
    background: #3f6633;
    color: #FFFFFF;
    font-size: 0.33cm;
    padding: 0.125cm;
    -webkit-print-color-adjust:exact;
}

.program-explanation {
    margin: 0.15cm 0 0.15cm 0; 
    font-weight: bold;
    font-size: 0.4cm;
}

table {
    font-size: 0.35cm;

    border-collapse: separate;
    border-spacing: 0.1cm 0.3cm;
}

.first-column {
    width: 3.2cm;
}

.second-column {
    width: auto;
}

.third-column{
    width: 1.8cm;
}

.green {
    color: #3f6633;
}

.total {
    font-size: 0.4cm;
    font-weight: 500;
    width: auto;
    text-align: right;
    margin-top: 0.2cm;
    margin-bottom: 0.3cm;
}

.to-right {
    width: auto;
    text-align: right;
}

p{
    font-size: 0.27cm;
}
        </style>
    </head>    
    <body>
        <div class="mainContent">

            Dear customer, 
            </br>
            We glad to send this estimate. 
            </br>
            Regards
            <h5>
                <a href="{{pdfLink}}" class="doc-title">Download Estimate</a>
            </h5>
        </div>
    </body>
</html>
