<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
        <style>
body {
    font-family: sans-serif;
    padding: 1.2cm;
    width: 21.5cm;
    height: 28cm;
}

.top-section {
    display: inline-flex;
}

.doc-title {
    
    font-style: normal;
    font-weight: bold;
    font-size: 0.5cm;
    line-height: 100%;
    color: #3f6633;
    margin-bottom: .4cm;
}

.logo {
    width: 5cm;
    height: 3.5cm;
    margin-right: 0.5cm;
}

.form-label{
    font-size: 0.35cm;
}

.form-value{
    font-size: 0.35cm;
    font-weight: bold;
    margin: 0 0.2cm 0.2cm 0.2cm;
}

.row {
    display: flex;
}

.program-type-title {
    width: auto;
    background: #3f6633;
    color: #FFFFFF;
    font-size: 0.33cm;
    padding: 0.125cm;
    -webkit-print-color-adjust: exact;
}

.program-explanation {
    margin: 0.15cm 0 0.15cm 0; 
    font-weight: bold;
    font-size: 0.4cm;
}

table {
    font-size: 0.35cm;

    border-collapse: separate;
    border-spacing: 0.1cm 0.3cm;
}

.first-column {
    width: 3.2cm;
}

.second-column {
    width: auto;
}

.third-column{
    width: 1.8cm;
}

.green {
    color: #3f6633;
}

.total {
    font-size: 0.4cm;
    font-weight: 500;
    width: auto;
    text-align: right;
    margin-top: 0.2cm;
    margin-bottom: 0.3cm;
}

.to-right {
    width: auto;
    text-align: right;
}

p{
    font-size: 0.27cm;
}
        </style>
    </head>    
    <body>
        <div class="mainContent">

            <table>
                <tr>
                    <td>
                        <div class="div-logo">
                            <img class="logo" src="/img/logo.png" alt="LE"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <div class="doc-title">LAWN CARE PROGRAM</div>
                            <div>
                                <div class="row">
                                    <label class="form-label">Prepared for</label> 
                                    <span class="form-value">{{header.customerName}}</span>
            
                                    <label class="form-label">Date</label> 
                                    <span class="form-value">{{header.date}}</span>
                                </div>
                                
                                <div class="row">
                                    <label class="form-label">Service Address</label> 
                                    <span class="form-value">{{header.customerAddress}}</span>
                                </div>
            
                                <div class="row">
                                    <label class="form-label">Phone</label> 
                                    <span class="form-value">{{header.customerPhone}}</span>
            
                                    <label class="form-label">E-mail</label> 
                                    <span class="form-value">{{header.customerEmail}}</span>
                                </div>
                            </div>
                            <p>
                                To help you obtain a healthy, green lawn, we have analyzed your lawn and designed a comprehensive Lawn Care
                                Program that incorporates premium balanced fertilizers with slow release nitrogen which helps develop a proper
                                soil environment for turf that is naturally more resistant to disease, insects and weeds.
                            </p>
                          </div>    
            
                    </td>
                </tr>
            </table>

            <div>
                <div class="program-type-title">
                    LAWN CARE PROGRAM: {{header.programType}}
                </div>

                <div class="program-explanation">
                    Based on your landscape conditions, we recommend these applications:
                </div>
                
                <table>
                    {{#each baseProgramItems as |item itemIndex|}}

                    <tr>
                        <td class="first-column">
                            <div><strong>{{item.title}}</strong></div>
                            <div>{{item.subtitle}}</div>
                        </td>
                        <td class="second-column">

                            <div>
                                {{item.description}}
                            </div>
                            <div class="green">
                                {{item.explanation}}
                            </div> 
                        </td>
                        <td class="third-column">
                            <div class="to-right">
                                <label class="form-label">$</label> 
                                <span class="form-value">{{item.totalItem}}</span>
                            </div>
                        </td>
                    </tr>

                    {{/each}}

                </table>

                <p class="green">
                    (*) Preventative crabgrass control is applied based on seasonal timing and location, Integrated Services only.
                </p>
            </div> 
        

            <div>
                <div class="program-type-title">
                    SUPPLEMENTAL SERVICES
                </div>
                
                <table>

                    {{#each supplementalServicesItems}}

                    <tr>
                        <td class="first-column">
                            <div><strong>{{title}}</strong></div>
                            <div>{{subtitle}}</div>
                        </td>

                        <td class="second-column">
                            <div>
                               {{description}}
                            </div>     
                            
                            <div class="green">
                                {{explanation}}
                            </div> 

                            {{#if showExtraOptions}}
                                <div>
                                    {{#each extraOptions}}
                                    <span class="form-value">{{this}}</span>
                                    {{/each}}
                                </div>
                            {{/if}}

                            {{#if showApplications}}
                                <div class="row green">
                                    <label class="form-label">Applications:</label> 
                                    <span class="form-value">{{applications}}</span>
                                </div>

                            {{/if}}
                        </td>

                        <td class="third-column">
                            <div class="to-right">
                                <label class="form-label">$</label> 
                                <span class="form-value">{{totalItem}}</span>
                            </div>
                        </td>
                    </tr>

                    {{/each}}

                </table>
            </div> 

            <div class="total green">
                Total: ${{total}}
            </div>
        
            <div>
                <div class="row">
                    <label class="form-label">ARBORIST: </label> 
                    <span class="form-value">{{footer.user}}</span>

                    <label class="form-label">MOBILE: </label> 
                    <span class="form-value">{{footer.phone}}</span>

                    <label class="form-label">E-MAIL: </label> 
                    <span class="form-value">{{footer.email}}</span>
                </div>
                <p class="green">
                    To help maintain a vibrant and healthy landscape, your program is considered CONTINUOUS. This means that your program will automatically renew each year,
ensuring on-going professional care for your property. You can of course CANCEL AT ANY TIME by contacting us. Thank you for your continued confidence
                </p>
            </div>
        </div>
    </body>
</html>
