@use "sass:color";

// Basics
$black: #000000;
$white: #FFFFFF;

// Gradients
$l1: rgba(255, 255, 255, 0.5);
$l2: rgba(255, 255, 255, 0.75);
$d1: rgba(0, 0, 0, 0.25);
$d2: rgba(0, 0, 0, 0.5);

// Primary color variants
$primary: #3E66FB;
$primary-l1: linear-gradient(0deg, $l1, $l1), $primary;
$primary-l2: linear-gradient(0deg, $l2, $l2), $primary;
$primary-d1: linear-gradient(0deg, $d1, $d1), $primary;
$primary-d2: linear-gradient(0deg, $d2, $d2), $primary;

// Accent 1 color variants
$accent1: #B57BFF;
$accent1-l1: linear-gradient(0deg, $l1, $l1), $accent1;
$accent1-l2: linear-gradient(0deg, $l2, $l2), $accent1;
$accent1-d1: linear-gradient(0deg, $d1, $d1), $accent1;
$accent1-d2: linear-gradient(0deg, $d2, $d2), $accent1;

// Accent 2 color variants
$accent2: #FD8E39;
$accent2-l1: linear-gradient(0deg, $l1, $l1), $accent2;
$accent2-l2: linear-gradient(0deg, $l2, $l2), $accent2;
$accent2-d1: linear-gradient(0deg, $d1, $d1), $accent2;
$accent2-d2: linear-gradient(0deg, $d2, $d2), $accent2;

// Success color variants
$success: #3CC13B;
$success-l1: linear-gradient(0deg, $l1, $l1), $success;
$success-l2: linear-gradient(0deg, $l2, $l2), $success;
$success-d1: linear-gradient(0deg, $d1, $d1), $success;
$success-d2: linear-gradient(0deg, $d2, $d2), $success;

// Warning color variants
$warning: #F3BB1C;
$warning-l1: linear-gradient(0deg, $l1, $l1), $warning;
$warning-l2: linear-gradient(0deg, $l2, $l2), $warning;
$warning-d1: linear-gradient(0deg, $d1, $d1), $warning;
$warning-d2: linear-gradient(0deg, $d2, $d2), $warning;

// Error color variants
$error: #F03738;
$error-l1: linear-gradient(0deg, $l1, $l1), $error;
$error-l2: linear-gradient(0deg, $l2, $l2), $error;
$error-d1: linear-gradient(0deg, $d1, $d1), $error;
$error-d2: linear-gradient(0deg, $d2, $d2), $error;

// Gray color variants
$grey: #C2C9D1;
$grey-l1: linear-gradient(0deg, $l1, $l1), $grey;
$grey-l2: linear-gradient(0deg, $l2, $l2), $grey;
$grey-d1: linear-gradient(0deg, $d1, $d1), $grey;
$grey-d2: linear-gradient(0deg, $d2, $d2), $grey;
