
//Cube Size
$cube-size: 1em;

//Colors :todo - set colors in global variables
$color-white: #FFFFFF;
$color-light-blue: #2E518F;
$color-dark-blue: #171F3C;

@keyframes rotate {
  from {
    transform: rotateX(-35deg) rotateY(45deg);
  }
  to {
    transform: rotateX(-35deg) rotateY(405deg);
  }
}

.root{
  background-color: transparent;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 150px;
  .circle {
    left: 50%;
    position: absolute;
    top: 20%;
    transform: translate(-50%);
  }

  .cube {
    margin: auto;

    .side {
      box-sizing: border-box;
      padding: calc(#{$cube-size}/10);
      position: absolute;
    }
  }

  .message {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0px;
  }
}

.cube {
  animation: rotate 5s infinite linear;
  height: $cube-size;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-35deg) rotateY(45deg);
  width: $cube-size;
}

.circle {
  font-size: 36px;
  perspective-origin: 50% 50%;
  perspective: calc(#{$cube-size} * 25);
}

.side {
  border: solid calc(#{$cube-size}/20) $color-white;
  color: $color-white;
  height: 100%;
  width: 100%;
}

.front{
  background-color: rgba($color-light-blue, 0.5);
  transform: translateZ(calc(#{$cube-size}/2));
}

.back{
  background-color: rgba($color-light-blue, 0.5);
  transform: translateZ(calc(-#{$cube-size}/2)) rotateY(180deg);
}

.right{
  background-color: rgba($color-light-blue, 0.5);
  transform-origin: top right;
  transform: rotateY(-270deg) translateX(calc(#{$cube-size}/2));
}

.left{
  background-color: rgba($color-light-blue, 0.5);
  transform-origin: left center;
  transform: rotateY(270deg) translateX(calc(-#{$cube-size}/2));
}

.top{
  background-color: $color-light-blue;
  transform-origin: top center;
  transform: rotateX(-270deg) translateY(calc(-#{$cube-size}/2));
}

.bottom{
  background-color: $color-dark-blue;
  transform-origin: bottom center;
  transform: rotateX(270deg) translateY(calc(#{$cube-size}/2));
}
